@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap'); 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
    background-color: #D91219;
}

h1 {
    color:#D9A416;
    font-size: 5em;
    text-shadow: 4px 4px 7px black;
}

#main-container {
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 5px solid #D9A416;
    box-shadow: 5px 5px 15px black;
    padding:2em;
    margin:1em;
}

.btn-wrapper {
    margin-bottom: 1em;
}

.counter {
    font-size:2rem;
}

.btn-increase {
    width: 50px;
    height: 28px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
}

.btn-decrease {
    width: 50px;
    height: 28px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
}

.btn-decrease:hover {
    background-color: white;
    cursor:pointer;
}

.btn-increase:hover {
    background-color: white;
    cursor:pointer;
}