@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap'); 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
}

#main-container {
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

}

#gold-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 20px lightgrey;
    padding:2em;
    margin:1em;
}

#silver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 20px lightgrey;
    padding:2em;
    margin:1em;
}
.btn-wrapper {
    margin-bottom: 1em;
}

.counter {
    font-size:2rem;
}

.btn-increase {
    width: 50px;
    height: 28px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
}

.btn-decrease {
    width: 50px;
    height: 28px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 5px lightgrey;
}

.btn-decrease:hover {
    background-color: white;
    cursor:pointer;
}

.btn-increase:hover {
    background-color: white;
    cursor:pointer;
}